name: 05 - fromMain - Event Filters and Activity Types

on:
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - main

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - run: echo "From Main,Running whenever a PR is opened or synchronized AND base branch is main"
    