name: 09 - Using Functions

on:
  # pull_request:
  workflow_dispatch:


jobs:
  echo1:
    runs-on: ubuntu-latest
    steps:
      - name: Print PR title
        run: echo "${{ github.event.pull_request.title }}""
      - name: Print PR labels
        run: |
          cat << EOF
          ${{ toJSON(github.event.pull_request.labels) }}
          EOF
      - name: Bug step
        if: ${{ !cancelled() && contains(join(github.event.pull_request.title), 'fix') }}
        run: echo "I am a bug fix"
      - name: Sleep for 5 seconds
        run: sleep 5
      - name: Failing step   
        run: exit 1       # when a step fails, the job will skip all following steps by default, unless those steps have an `if`    
                          # whose condition evaluates to true even after a failure.
      - name: I will be skipped
        if: ${{ success() }}
        run: echo "I will print if previous steps succeeded"
      - name: I will execute when failing
        if: ${{ failure() }}
        run: echo "I will print if previous steps fails"
      - name: I will execute as long as not cancelled
        if: ${{ !cancelled() }}
        run: echo "I will always print, except if the workflow is cancelled"
      - name: I will execute when cancelled 
        if: ${{ cancelled() }}
        run: echo "I will always print if the workflow has been cancelled"

# Print PR labels prints:
# [
#   {
#     "color": "d73a4a",
#     "default": true,
#     "description": "Something isn't working",
#     "id": 9817340411,
#     "name": "bug",
#     "node_id": "LA_kwDOQnevy88AAAACSSi5-w",
#     "url": "https://api.github.com/repos/slowjams/gh-actions-course/labels/bug"
#   },
#   {
#     "color": "0075ca",
#     "default": true,
#     "description": "Improvements or additions to documentation",
#     "id": 9817340415,
#     "name": "documentation",
#     "node_id": "LA_kwDOQnevy88AAAACSSi5_w",
#     "url": "https://api.github.com/repos/slowjams/gh-actions-course/labels/documentation"
#   }
# ]
      
     
