name: 09 - Using Functions

on:
  pull_request:
  workflow_dispatch:

jobs:
  echo1:
    runs-on: ubuntu-latest
    steps:
      - name: Sleep for 5 seconds
        run: sleep 5
      - name: Failing step   
        run: exit 1       # when a step fails, the job will skip all following steps by default, unless those steps have an `if`    
                          # whose condition evaluates to true even after a failure.
      - name: I will be skipped
        if: ${{ success() }}
        run: echo "I will print if previous steps succeeded"
      - name: I will execute  
        if: ${{ failure() }}
        run: echo "I will print if previous steps fails"
      - name: I will execute  
        if: ${{ !cancelled() }}
        run: echo "I will always print, except if the workflow is cancelled"
      - name: I will execute when cancelled 
        if: ${{ cancelled() }}
        run: echo "I will always print if the workflow has been cancelled"
      
     
