name: 12 - Working with Outputs 

on:
  workflow_dispatch:
    inputs:
      status:
        type: choice
        options: 
          - success
          - failure
        default: success
      greeting:
        type: string
        required: true
   
jobs:
  saveStatusAndGreeting:
    runs-on: ubuntu-latest
    outputs:
      status: ${{ steps.save.outputs.status }}       # <---------------reference the step ID and the output name defined in that step
      greeting: ${{ steps.greet.outputs.greeting }}  
       # <---------------greet and save is id of step that produces greeting output

    steps:
      - name: Print Root Directory1
        run: pwd
      - name: Print Root Directory2
        run: echo "Root directory is $GITHUB_WORKSPACE"
      - name: Print GITHUB_OUTPUT path first time
        run: echo "$GITHUB_OUTPUT"   # /home/runner/work/_temp/_runner_file_commands/set_output_a70693bc-2824-4d5d-9252-4000d61c2d13
      - name: Print GITHUB_OUTPUT path second time    # each step use different output file in same VM
        run: echo "$GITHUB_OUTPUT"   # /home/runner/work/_temp/_runner_file_commands/set_output_6f559b6f-5e9e-4911-a57b-ef19bf1f4204    
      - name: Save Outputs
        id: save      # <---------------define a step ID for the steps that produce outputs
        run: 
          echo "status=${{ inputs.status}}" >> $GITHUB_OUTPUT
      - name: Save Greet
        id: greet
        run: |
          echo "greeting=${{ inputs.greeting}}" >> $GITHUB_OUTPUT
        
  printStatus:
    runs-on: ubuntu-latest
    needs: saveStatusAndGreeting
    if: ${{ needs.saveStatusAndGreeting.outputs.status == 'success' }}
    steps:
      - name: Print Status
        run: echo "I can print status"
  
  printGreeting:
    runs-on: ubuntu-latest
    needs: saveStatusAndGreeting
    steps:
      - name: Print Greeting
        run: echo "Greeting is ${{ needs.saveStatusAndGreeting.outputs.greeting }}"