name: 12 - Working with Outputs

on:
  workflow_dispatch:
    inputs:
      build-status:
        type: choice
        options: 
          - success
          - failure
        default: success
   
jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      build-status: ${{ steps.build1.outputs.status }}   # <---------------reference the step ID and the output name defined in that step
    steps:
      - name: Print GITHUB_OUTPUT path
        run: echo "$GITHUB_OUTPUT"   # /home/runner/work/_temp/_runner_file_commands/set_output_6daf8654-0d06-4756-ba47-a8648af60fdf
      - name: Build
        id: build1       # <---------------define a step ID for the steps that produce outputs
        run: 
          echo "status=${{ inputs.build-status}}" >> $GITHUB_OUTPUT
  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ needs.build.outputs.build-status == 'success' }}
    steps:
      - name: Deploy
        run: echo "Deploying"
     